gradio==4.44.1
torch==2.1.2
torchvision==0.16.2
ultralytics==8.1.8
numpy==1.24.3
Pillow==10.1.0
gTTS==2.4.0
transformers==4.35.2
soundfile==0.12.1
librosa==0.10.0
accelerate==0.25.0
opencv-python==4.8.1.78
pydub==0.25.1