body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#camera {
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    margin-top: 20px;
}

#detectBtn {
    margin-top: 20px;
    padding: 20px 30px;
    font-size: 22px;
    border-radius: 15px;
    background: #1e88e5;
    color: white;
    border: none;
    cursor: pointer;
}

#results {
    margin-top: 30px;
}
